.cart-dropdown{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 80px;
    right: 0;
    z-index: 5;
    position: fixed;

    .cart-items{
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;

    

    }
    button{
        margin-top: auto;
    }
}
.empty-message{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}