.cart-item{
    width:100%;
    height: 80px;
    display: flex;
    margin-bottom: 15px;

        img{
         width: 30%;
         border-radius: 50%;   
        }

    .item-details{
        width:70%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;
    }
}